body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #050505;
    padding: 0;
    margin: 0;
    
    
}
/* partie header*/
header .antet{
    width: 100%;
    height: 40px;
    background-color: #be7b06;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header {
    border-bottom: 4px solid #be7b06;
  
    
}
.antet .nume{
    display: flex;
    align-items: center;
    padding-left: 100px;
    gap: 5px;
    

}
.antet .nume a{
    text-decoration: none;
    color: white;
    padding-right: 13px;
}
header .antet .rezo{
    padding-right: 100px;
    
}
.antet .rezo img{
    padding: 15px;
}
.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo{
    line-height: 21px;
    text-align: center;
    padding-left: 110px;
}
.nav .logo h1{
    font-size: 35px;
    
}
.nav .logo h1 a{
    text-decoration: none;
    color: #4b4a4a;
}
.nav .logo h3{
    font-size: 14px;
}
.nav ul{
    display: flex;
    padding-right: 110px;
    list-style: none;
    gap: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    
}
.nav ul li a{
    text-decoration: none;
    color: #4b4a4a;
}

/* section */
.bg-imag{
    height: 90vh;
    width: 100%;
    background-image: url(akey.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    
}
.bg-imag::after{
    height:100%;
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
   

}
.content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-20%);
    text-align: center; 
    height: 240px;
    width: 660px;
    background-color: #be7b06;
    padding: 20px;
    border-radius: 15px;

    
}
.content h1{
    font-size: 28px;
    color: #ffffff;
}
.content p{
    
    color: #ffffff;
}
.content button{
    padding: 12px 22px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #ffffff;
    opacity:1;
    cursor: pointer;
    border: none;
    color: #be7b06;
}
.content button:hover{
    color: #ffffff;
    background-color: #000000;
    
}
/* section services*/
.services{
    width: 100%;
    height: 400px;
    align-content: center;
    margin-bottom: 40px;
   
}
.services01{
    display:flex;
    gap: 35px;
    justify-content: center;
    margin-top: 38px;
    
    
}
.div-services{
    text-align: center;
    width: 200px;
    height:200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 50%;
    align-content: center;
    
}
#serv{
    margin-left: 100px;
    margin: 0 auto;
    width: 60%;
    text-align: center;  
}
#serv p{
    color: rgba(110, 109, 109, 1);
    font-size: 15px;
    text-align: center;
}
.div-services h2{
    font-size: 15px;
    color: #be7b06;
}

.div-services p{
    font-size:11.5px ;
    color: rgb(110, 109, 109);
    
}
/*section sa a pale de nos meilleurs services se pour page services la li ye*/
.nos-services{
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    background-color: #f6f4f4;
    
}
.nos-services .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin: auto;
    padding:40px;
    
    
}
.nos-services .container .div-container{
    width: 370px;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    padding: 10px;

    
}
.nos-services .container .div-container:hover{
    background-color: #9ef01a;
    cursor: pointer;
}
.nos-services .container .div-container p{
    font-size: 13px;
    text-align: justify;
}
.nos-services .container .div-container h3{
    font-size: 18px;

}
.nos-services .container .div-container img{
    margin-top: 15px;
    margin-right: 5px;
    

}
/* section idee about*/
.idee{
    height: 680px;
    padding: 20px;
    margin-top: 10px;    
}
.idee1{
    margin-bottom: 70px;

}
.idee1 h2{
    text-indent: 100px;
text-align: center;

}
.idee1 p{
    text-align: center;
    color: #4b4a4a;
}
.idee3{
    display: flex;
    justify-content:center;
    gap: 60px;
    align-items: center;
}

.idee .about2{
   text-align: justify;
   background-color: #ffffff;
   padding: 30px;
   border-radius: 10px;
   width: 500px;
   height: 460px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    
}
/* Section Projet*/
.dex{
    padding: 28px;
   height: 450px;
}
.dex .pro{
    margin: 10px;
}
.projet{
    background-color: #be7b06;
    border-radius: 15px;
}
.projet img{
    border-radius: 15px 15px 0px 0;
    
}
.reten{
    gap: 20px;
    display: flex;
    margin: 10px; 
    text-align: center;    
}

/*sa se pati avantaj nou yo*/

   
   .avan{
    background-image:url(im.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    padding: 30px;
    height: 400px;
    align-content: center;

} 
.avo{
    display: flex; 
    text-align: center;
    justify-content: center;
    gap: 30px;
    
   
}
.avo .avu{
    background-color: white;
    height: 250px;
    width: 280px;
text-align: center;
justify-content: center;
padding: 9px;
border-radius: 20px;


}
.avan h2{font-weight: bold;
    
    text-align: center;
    justify-content: center;
}
.avu p{
    color: #4b4a4a;
    font-size: 15px;
}
.avo{
    justify-content: center;
    text-align: center;
    
}
.avu i{font-size: 27px;
    color: #be7b06;
}

    




/* section competence */
.competence{
    background-image:url(1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    padding: 30px;
    height: 400px;
    align-content: center;

}
.competence .img{
    display: flex;
    justify-content: center;
    gap: 160px;


}
.competence .liste{
    height: 330px;
    width: 250px;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #9ef01a;
}
.atractive{
    background-image: url(nuvora.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 47vh;
    margin-bottom: 200px;
    align-content: center;
    text-align: center;
    color: #ffffff;

}
.atractive h2{
    font-size: 35px;
}
.atractive h4{
    font-size: 17px;
}
.atractive button{
    padding: 12px 22px;
    border-radius: 25px;
    border: none;
    background-color: #9ef01a;
    cursor: pointer;
}
.atractive button:hover{
    color: #9ef01a;
    background-color: #060714;
    border: 2px solid #9ef01a;

}
/* section nous-choisie*/
.nous-choisie{
    display:flex;
    width: 100%;
    height:408px;
    

}
.nous-choisie .div-content{
    width: 50%;
    height:408px ;
    background-color: #111111;
    color: #ffffff;
    padding: 20px;
    padding-right:100px;
}
.nous-choisie .div-content .div-image{
    display:flex ;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
   
}
.nous-choisie .div-content .div-image p{
    font-size: 12px;
    color: rgb(131, 128, 128);
    text-align: justify;
}
.nous-choisie .div-content .div-image h3{
    font-size: 16px;
}
.nous-choisie .image-div{
    background-image:url(1.png) ;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    width: 50%;
    height:450px;
}
/* partie footer*/
.foot{
    background-color: #050514;
    padding: 5px 40px 10px 40px;
    color: white;
    
}
/* pati newsletter a ki gen ladan'l tit,paragraf ak yon formile*/
.foot .newsletter{
    background-color: #eff1f3;
    width: 80%;
    margin: 0 auto;
    color: #050505;
    border-radius: 20px;
    padding: 0px 30px 0px 30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5.5em;
    box-shadow: 15px -10px 30px  0px rgb(71, 71, 71);
    
}
.foot .foot-form input{
   width: 300px;
   padding:10px;
   border-radius: 8px;
   border-color: #9ef01a;
   
}

.foot .foot-form button{
    background-color: #9ef01a;
    color: rgb(0, 0, 0);
    border: none;
    width: 120px;
    padding: 5px ;
    float: right;
    cursor: pointer;
    border-radius: 8px;
    

}
.newsletter .foot-letter h2{
    font-size: 30px;
    font-weight: 300;

}
/* reste pati footer a ki gen ladanl 3 gran div yo( logo,services,meni ak kontak*/
.foot .foot-div{
    display: flex;
   justify-content: space-between;
   margin: 10px 40px;  
}
.foot-logo .image img{
    margin: 15px;
    margin-left: 0px;
}

.foot .foot-div h2{
    color: #9ef01a;
}

.foot .foot-div ul li{
    list-style: none;
    margin-left: -36px;
    line-height: 25px;
    
    
}
.foot .foot-div ul li a{
    text-decoration: none;
    color: white;
}
.foot .foot-div ul li a:hover{
    color: #9ef01a;
}
/*patie copyright ki gen ladanl fraz copyright ak politik yo*/
.copyright{
    display:flex;
    justify-content: space-between;
    padding: 0px 40px 10px 40px;
    font-size: small;
}
.copyright .poli{
    display: flex;
    gap: 30px;
}
.copyright .poli a{
    text-decoration: none;
    color: #ffffff;
}
.copyright .poli a:hover{
    color: #9ef01a;
}

